* {
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
.hero {
  background-color: #1f2937;
  padding: 15px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}
.flex-items {
}
.nav {
  display: flex;
  justify-content: space-around;
}
.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: #e5e7eb;
  align-items: center;
}
.main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.subtext {
  margin: 15px 0px;
  font-size: 18px;
  color: #e5e7eb;
}
.pic {
  background-color: #e5e5e5;
  width: 40%;
  text-align: center;
}
.main-page {
  display: flex;
  padding: 100px;
  justify-content: space-around;
  box-sizing: border-box;
  margin-right: 40px;
}
.hero--main {
  width: 30%;
}
.button {
  margin-top: 10px;
  width: 130px;
  border-radius: 10px;
  padding: 15px 0;
  background-color: #3882f6;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  color: #f9faf8;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article--header {
  padding: 30px;
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}
.article--pic {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 5px;
}
.item {
  width: 150px;
  height: 200px;
}
.article--content {
  padding: 35px;
  display: flex;
  width: 65%;
  justify-content: space-evenly;
}
.blockquote {
  background-color: #e5e7eb;
  width: 100%;
  margin-top: 50px;
}
.blockquote--content {
  padding: 85px;
  width: 60%;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  margin: auto;
  font-weight: lighter;
}
.blockquote--author {
  text-align: right;
  font-size: 24px;
}
.signup {
  display: flex;
  margin: 100px auto;
  padding: 50px;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  background-color: #3882f6;
  /* margin: auto; */
}
.signup--button {
  width: 130px;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
}
.signup--content {
  font-size: 18px;
  color: #f9faf8;
  font-weight: bold;
}
.footer {
  background-color: #1f2937;
}
.footer--content {
  padding: 50px;
  width: 25%;
  font-size: 18px;
  margin: auto;
  color: #f9faf8;
}
